<template>
  <div>
    <h1>{{ content.title }}</h1>  
      <slot></slot>
    <p v-html="content.content.value" />
  
  </div>
</template> 

<script>
export default  {
  name: 'Banner',
    props: { 
      content: Object, 
    }
  }  
</script>