<template>
  <div>
    <p>{{ content.name }}</p>
    <p v-html="content.content.value" />
  </div>
</template>

<script>

export default {
  name: 'NewsItem',
    props: { 
      content: Object,
    } 
  }  
</script>