<template>
  <div v-if="listLoaded">
    <p>NEWS List COMPONENT</p>
    <div v-for="l in list" :key="l.index">  
      <cms-content-component :item="{ label: 'news-item' }" :documentUuid="l.$ref" />
    </div> 
  </div>
</template>

<script>
import CmsContentComponent from '../hippoCore/CmsContentComponent';

export default {
  name: 'NewsList',
  props: { 
    item: Object,
  },

  data() {
    return {
      list: undefined,
      listLoaded: false,
    };
  },

  components: { 
    CmsContentComponent,
  }, 

  methods: {
    mapListItems() {
      if (this.item && this.item.models && this.item.models.pageable && this.item.models.pageable.items
        && this.item.models.pageable.items.length !== 0) {
        this.list = this.item.models.pageable.items;
        this.listLoaded = true;
      }
    }
  },

  mounted() {
    this.mapListItems();
  },
}  
</script>