<template>
  <component v-if="contentLoaded" :is="componentMap.component" :content="content">
    <cms-manage-content-button :content="content" v-if="previewMode"/> 
  </component>
  <cms-placeholder-component v-else-if="!content && previewMode && componentMap" :component-name="componentMap.component.name"/>
</template>

<script>
import { mapState } from 'vuex';
import jsonpointer from 'jsonpointer'; 
import getNestedObject from '@/utils/get-nested-object';  
import { mapComponent } from '@/utils/get-component-definition';
import CmsManageContentButton from './CmsManageContentButton'; 
import CmsPlaceholderComponent from './CmsPlaceholder';

export default  {
  name: 'CmsContentComponent',
  props: { 
    item: Object,
    documentUuid: null, 
  },

  components: {
    CmsManageContentButton,
    CmsPlaceholderComponent,
  },

  computed: {
    ...mapState('hippoCms', [
       'pageModel', 
       'previewMode'
    ]),

    componentMap() {
      return mapComponent(this.item.label);
    }, 

    contentRef() {
      return getNestedObject(this.item, ['models', 'document', '$ref']);
    }, 

    contentLoaded() {
      return this.content !== undefined && this.content !== null;
    },

    content() {
      if (this.pageModel) {
        if (this.contentRef && (typeof this.contentRef === 'string' || this.contentRef instanceof String)) {
          return jsonpointer.get(this.pageModel, this.contentRef);
        } else if (this.documentUuid) {
            return jsonpointer.get(this.pageModel, this.documentUuid);
        } else {
          return null;
        }
      } else {
         return null;
      }
    }
  },
}; 

</script>