<template>
  <div class="hst-container-item"  ref="containerItem" v-cms-meta="{ begin : 'afterbegin', end: 'beforeend', item, previewMode }">
    <template v-if="componentMap">
      <cms-content-component v-if="contentComponent" :item="item" /> 
      <component :is="componentMap.component" :item="item" v-else></component>
    </template>
  </div> 
</template> 
 
<script>
import CmsContentComponent from './CmsContentComponent'; 
import { mapComponent } from '@/utils/get-component-definition';
import { mapState } from 'vuex';

export default  {
  name: 'CmsContainerItem',
  props: { 
    item: Object,
  },

  components: {
    CmsContentComponent,
  },

  computed: {
    ...mapState('hippoCms', [
      'previewMode',
    ]),

    contentComponent() { 
      return this.componentMap.contentComponent;
    },

    componentMap() {
       return mapComponent(this.item.label);
    }
  },
}; 

</script>