<template>
  <div>
    <template v-for="comp in pageComps">
      <cms-container v-if="comp.type == 'CONTAINER_COMPONENT'" :container-comps="comp"/>
      <cms-component :page-comps="comp.components" v-else/>
    </template>
  </div>
</template>

<script> 
import CmsContainer from './CmsContainer';

export default  {
  name: 'CmsComponent', 

  props: { 
    pageComps: Array, 
  },

  components: {
    CmsContainer, 
  } 
}; 
 
</script> 