<template>
  <div className="hst-container" ref="containerElm" v-cms-meta="{ begin : 'beforebegin',  end: 'afterend', item: containerComps, previewMode }">
    <cms-container-item v-for="containerItemComp in containerComps.components" :item="containerItemComp" v-bind:key="containerItemComp.index"/>
  </div>  
</template>

<script>
import CmsContainerItem from './CmsContainerItem'; 
import { mapState } from 'vuex';

export default  {
  name: 'CmsContainer', 

  props: { 
    containerComps: Object,
  },

  components: {
    CmsContainerItem,
  },

  computed: {
    ...mapState('hippoCms', [
      'previewMode',
    ]),
  },
}; 

</script> 