<template>
  <div style="position: relative">
    <span ref="editContentElm" v-cms-edit-button="{ content, previewMode }"></span>
  </div>
</template>
<script>

import { mapState } from 'vuex';

export default  {
  name: 'CmsManageContentButton',

  props: { 
    content: Object,
  }, 

  computed: {
    ...mapState('hippoCms', [
      'previewMode', 
    ]),
  },
}

</script> 