<template>
   <cms-component v-if="hydrated" :pageComps="pageModel.page.components"/>
</template> 

<script>

import { mapActions, mapState } from 'vuex';
import CmsComponent from './CmsComponent';
import { fetchComponentUpdate } from '@/utils/fetch';
import findChildById from '@/utils/find-child-by-id';
import { addBodyComments } from '@/utils/add-html-comment';
import deepClone from 'deep-clone';

export default  {
  name: 'CmsPage',

  components: { 
    CmsComponent,
  }, 
  
  computed: {
   ...mapState('hippoCms', [
      'hydrated',
      'pageModel',
      'path',
      'previewMode',
    ]),
  },

  methods: {
    ...mapActions('hippoCms', [ 
      'fetchPageModel',
      'setPageModel',
    ]), 
  
    initializeCmsIntegration() {
      if (this.previewMode && typeof window !== 'undefined') {
        window.SPA = {
          renderComponent: (id, propertiesMap) => {
            this.updateComponent(id, propertiesMap);
          },
          init: (cms) => {
            this.cms = cms;
            if (this.pageModel.page) {
              cms.createOverlay();
            }
          }
        };
      } 
    },  
 
    async updateComponent(componentId, propertiesMap) {
      const componentToUpdate = findChildById(this.pageModel.page, componentId);

      if (componentToUpdate !== undefined) {         
        const response = await fetchComponentUpdate(this.path, this.previewMode, componentId, propertiesMap); 

        if (response) {
          if (response.page) {
            this.$set(componentToUpdate.parent, componentToUpdate.idx, response.page);
          } 

          let updatedPageModel = deepClone(this.pageModel);

          if (response.content) {
            if (!updatedPageModel.page) { 
              this.$set(updatedPageModel, 'page', {});
            }   
            this.$set(updatedPageModel.page, "content", Object.assign({}, updatedPageModel.page.content, response.content));
          } 

          this.setPageModel(updatedPageModel);
        }
      }
    }, 
  }, 

  async mounted() {
    await this.fetchPageModel(this.$route.path);
    
    addBodyComments(this.pageModel.page, this.previewMode);

    this.initializeCmsIntegration();
  }
}; 

</script>
  