<template>
  <p>Component {{ componentName }} <strong>not defined</strong></p>
</template>

<script>

export default  {
  name: 'CmsUndefined',

  props: { 
    componentName: String,
  } 
}

</script>